{% extends 'base.html' %}

{% block content %}

<h2>Menu for {{ restaurant.name }}</h2>
{% if menu_items %}
	<ul>
		{% for item in menu_items %}
			<li>
				Name: {{ item.name }}<br>
				Description: {{ item.description }}<br>
				Price: {{ item.price }}<br>
				Course: {{ item.course }}<br>
				<a href="{{ url_for('editMenuItem', restaurant_id=restaurant.id, menu_item_id=item.id) }}">Edit</a>
				<a href="{{ url_for('deleteMenuItem', restaurant_id=restaurant.id, menu_item_id=item.id) }}">Delete</a>
			</li>
		{% endfor %}
	</ul>
{% else %}
	<p>It appears that there are no menu items for this restaurant</p>
{% endif %}

{% endblock %}