{% extends 'base.html' %}

{% block content %}

<h2>Restaurant List</h2>

<h3><a href="{{ url_for('addRestaurant') }}">Create a new restaurant</a></h3>
{% if restaurants %}
	{% for restaurant in restaurants %}
		<a href="{{ url_for('showRestaurantMenu', restaurant_id=restaurant.id) }}">{{ restaurant.name }}</a>
		<br>
		<a href="{{ url_for('editRestaurant', restaurant_id=restaurant.id) }}">Edit</a>
		<a href="{{ url_for('deleteRestaurant', restaurant_id=restaurant.id) }}">Delete</a>
		<br>
	{% endfor %}
{% endif %}

{% endblock %}